body {
  background: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  min-height: 100vh;
}
.App {
  max-width: 1100px;
  margin: 30px auto;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Slab", serif;
  color: darkblue;
}
h1.flower {
  color: darkblue;
  font-size: 50px;
  font-weight: 600;
}
h2.flo {
  font-size: 16px;
  color: darkblue;
  padding: 10px 35px;
}
img.atlanta-image {
  border-radius: 14px;
}
.WeatherIcon canvas {
  height: 64px;
  width: 64px;
  margin-left: 10px;
  display: inline-block;
}

ul {
  list-style: none;
  font-size: 20px;
}
ul.list {
  text-align: left;
  padding-left: 0;
}
.card-text {
  text-align: center;
}
span.temperature {
  font-size: 45px;
}
span.units {
  position: relative;
  bottom: 22px;
}
span.units a {
  text-decoration: none;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hoover {
  text-decoration: none;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
  background-color: #0a58ca;
  color: white;
}

.card img {
  display: block;
  margin: 5px auto;
}
.forecast-date {
  font-size: 20px;
  color: darkblue;
}
.forecast-temps {
  font-size: 15px;
}
.temp-min {
  opacity: 0.7;
}
.temperature {
  font-size: 50px;
}
